#entete{
    background-color: cadetblue;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#entete p{
    margin-top: -1vw;
}
.one{
    background-color: lightgray;
    padding: 4vw;
    width: 20vw;
}
#profil img{
    width: 14vw;
    height: 19vw;
    position: absolute;
    top: 2vw;
    left: 6vw;
}
main{
    display: flex;
    background-color: lightgray;
}
body{
    width: 86vw;
}
.two{
    background-color: aliceblue;
    width: 60%;
    padding: 4vw;
    margin-top: 1vw;
    margin-left: -2vw;
}
#gps{
    display: flex;
    flex-direction: column;
}
#gps img{
    width: 2vw;
}
#gps p{
    margin-left: 3vw;
    margin-top: -2vw;
}
#tel{
    display: flex;
    flex-direction: column;
}
#tel img{
    width: 2vw;
}
#tel p{
    margin-left: 3vw;
    margin-top: -2vw;
}

#mail{
    display: flex;
    flex-direction: column;
}
#mail img{
    width: 2vw;
}
#mail p{
    margin-left: 3vw;
    margin-top: -2vw;
}

#coordone{
    height: 10vw;
    padding: 4vw 0vw;
}
#comp1{
    padding-left: 24px;
}
#comp2{
    padding-left: 24px;
}
#comp1 li{
    margin-bottom: 10px;
}
#comp2 li{
    margin-bottom: 10px;
}
.id1 hr{
    margin-top: -15px;
}
.id2{
    display: flex;
    margin-top: -2vw;
}
.id3{
    margin-left: -5vw;
}
#anne1{
    color: cadetblue;
    font-size: 1vw;
}
.three{
    list-style: none;
    margin-left: -3vw;
}
.boite{
    margin-top: 2vw;
}
.four{
    width: 16vw;
    list-style: none;
}
#four1{
    color: cadetblue;
    font-size: 1vw;
}